@import '../../scss\ variables/color';

.main{
    display: flex;
    flex-direction: column;
}
.successbar{
background-color: $aliceblue;
width: 100%;
height: 50px;;
}
.warningbar{
    width: 100%;
    height: 50px;;
    background-color: $aliceblue;
}
.dangerbar{
    width: 100%;
    height: 50px;;
    background-color: $aliceblue;
}
.defaultbar{
    width: 100%;
    height: 50px;;
    background-color: $aliceblue;
}